body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #F8F4F4;
    overflow-x: hidden;
}
.site_produit {
    width: 100%;
    height: auto; 
}
/* en tête */
.barCategorie {
    display: flex;
    width: 30%;
    height: 20px;
    margin-top: 40px;
    margin-left: 120px;
}
.barCategorie a {
    list-style-type: none;
    text-decoration: none; 
}
.barText1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
}
.barText2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
    font-weight: bold;
}
/* title nouveautés categorie */
.TitleNouveauté {
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
    font-size: 25px;
}
.selectOrdre {
    display: flex;
    height: 32px;
    margin-top: 40px;
    margin-left: 1050px;
}
.selectOrdre p {
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
    font-size: 14px;
}
.selectOrdre select {
    margin-left: 12px;
    margin-top: 12px;
}
/* produit nouveauter */
.filtreGlobal {
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.filtreNouvauté {
    width: 20%;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
}
.div_produit {
    width: 70%;
    margin-left: 40px;
    height: auto;
}
.product_rigth {
    width: 23.5%;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
