
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
/* button retun espace admin */
.return_acceuil {
    margin-top: 40px;
    margin-left: 600px;
}
.return_acceuil i {
    font-size: 25px;
    color: #A1BFBF;
    margin-left: 500px;
}

.article_global {
    width: 70%;
    height: auto;
}
.article_unitaire {
    margin-top: 20px;
    width: 25%;
    height: auto;
    float: left;
}
/* taille img article */
.pr_img {
    width: 227px;
    height: 330px;
}
.button_product_admin {
    display: flex;
}
/* button delete */
.button_delete {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #e5bcb6;
    border: 1px solid #c39a93;
    border-radius: 4px;
}
.img_trash {
    height: 20px;
    width: 20px;
    border: none;
}
/* button update */
.button_update {
    font-size: 20px;
    margin-left: 195px;
    margin-top: -30px;
    border: none;
    background-color: #f5f5f5;
    position: absolute;
}
.button_update_pen {
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.img_udpdate_pen {
    height: 20px;
    width: 20px;
}
/* div prix */
.price {
    display: flex;
}
/* prix1  */
.article_prix1 {
    text-decoration: line-through;
    font-size: 12px;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.article_prix2 {
    font-size: 12px;
    color: #ff7499;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
/* description produit */
.description_produit {
    font-size: 13px;
    color: #666464;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    margin-left: 10px;
}
.img_udpdate_shop {
    width: 18px;
    height: 18px;
}