body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: white;
}
/* div global product */
.div_produit {
    width: 80%;
    height: 760;
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}
/* img product buy */
.pr_img {
    height: 755px;
    width: 522px;
    margin-top: 15px;
    margin-left: 85px;
}
/* div prix description product buy */
.product_rigth {
    width: 40%;
    height: 650;
    margin-left: 40px;
    margin-top: 40px;
}
/* div text product */
.text_product {
    height: auto;
    width: 290px;
    margin-left: 100px;
}
/* text product buy */
.description_produit {
    color: #474747;
    font: 24px Arial, sans-serif;
    margin: 40px 0px 16px;
    text-align: center;
}
/* div text price */
.price_prodict_buy {
    width: 170px;
    height: min-content;
    margin-left: 215px;
    display: flex;
}
/* prix1  */
.article_prix1 {
    text-decoration: line-through;
    font-size: 20px;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -5px;
}
.article_prix2 {
    font-size: 20px;
    color: #ff7499;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}
/* button size clothe */
.button_size {
    height: auto;
    width: 310px;
    margin-top: 20px;
    margin-left: 80px;
}
/* button size line1*/
.button_size_line1 {
    padding: 2px;
}
.button_size_line1 button  {
    border: 1px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    width: 47px;
}
.button_size_line1 button:hover{
    background-color: #A1BFBF;
}
/* button size line2 */
.button_size_line2 {
    margin-left: 102px;
    padding: 2px;
}
.button_size_line2 button  {
    border: 1px solid white;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 14px;
    height: 40px;
    width: 47px;
}
.button_size_line2 button:hover{
    background-color: #A1BFBF;
}
/* button add shop bag */
.button_add_shop {
    margin-left: 40px;
    margin-top: 20px;
    background-color: black;
    border: 1px solid black;
    height: 80px;
    width: 382px;
    color: #F7F6FA;
    font-weight: bold;
    font-size: 19px;
}
.livraison_buy {
    color: #4a4a4b;
    height: 40px;
    width: 280px;
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-left: 90px;
}