/* navBar titre-icone-shearchBar */
#navbarx {
    width: 100%;
    height: auto;
}
.divNavGlobal {
    width: 100%;
    height: auto;
    background-color: white;
}
.account {
    width: 100%;
    height: auto;
    display: flex;
}
.account a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
/* nom marque */
.account p {
    font-size: 25px;
    margin-left: 65px;
    margin-top: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
#search_bar{
    height: 38px;
    width: 110%;
    margin-top: 25px;
    margin-left: 295px;
    display: flex;
    border: 0.5px solid #5b5b5b;
    background-color: #F5F5F5;
}
#search_bar input{
    width: 90%;
    height: 90%;
    border: none;
    padding-left: 14px;
    background-color: #F5F5F5;
}
.search_icone{
    width: 21px;
    height: 19px;
    padding-top: 7px;
    border-left: none;
}
.icone {
    display: flex;
    width: 30%;
    margin-top: 3px;
    margin-left: 670px;
    height: auto;
}
.icone img {
    width: 25px;
    height: 25px;
    margin-left: 25px;
    margin-top: 30px;
}
/* navBar categorie */
.categorie_global {
    width: 100%;
    height: 50px;
    background-color: #F5F5F5;
}
.categorie {
    display: flex;
    width: 70%;
    height: 50px;
    background-color: #F5F5F5;
    margin-left: 18.5%;
}
.categorie a {
    list-style-type: none;
    text-decoration: none;
}
/* navBar categorie text */
.categorie p {
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    padding-top: 3px;
    padding-left: 40px;
    font-size: 14px;
}
/* navBar promo */
.promoGlobal {
    width: 100%;
    background-color: #A1BFBF;
    height: 60px;
}
.promo {
    width: 90%;
    height: 60px;
    background-color: #A1BFBF;
    display: flex;
    margin-left: 210px;
}
.promo .text1 {
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.promo .text2 {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -13px;
}
.promo2 {
    margin-left: 220px;
}
.promo3 {
    margin-left: 190px;
}